body{
    background-image:url(img/double-bubble-dark.png);
    background-attachment:fixed;
}

html {
    scroll-behavior: smooth;
}

* {
    padding:0%;
    margin: 0%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000dc;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(82, 82, 82);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(185, 185, 185);
  }

/**start of top bar**/

.wrapper {
    margin-right: auto;
    margin-right: auto;
    max-width: 1200;
}

.topbar {
    background-image: url(img/webstie\ background.jpg);
    background-attachment: fixed;
    opacity: 100%;
    background-position: center;
    height: 100px;
    width: 100%;
}



ul {
    text-align: center;
}

li {
    display: inline-block;
    position: relative;
    top: -5px;
}

.btn {
    text-decoration: none;
    font-family: monospace;
    background-color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: rgb(0, 0, 0) solid 2px;
    transition: 0.2s ease-in-out;
    color: black;
}

.btn:hover {
    border: rgb(255, 255, 255) solid 2px;
    background-color: rgb(0, 0, 0);
    color: white;
}

.vl {
    border-left: white solid 2px;
    height: 60px;
    width: 5px;
    position: relative;
    display: inline-block;
    right: 20px;
    bottom: -20px;
}

.favic {
    height: 60px;
    width: 83px;
    position: relative;
    bottom: -20px;
    left: -50px;
    padding-left: 10px;
    padding-right: 10px;
}


/**end of top bar**/

/****/

/**start of body contents**/

.welcome {
    font-size: 50px;
    text-align: center;
    font-family: monospace;
    color: rgba(255, 255, 255, 0.863);
    position: relative;
    top: 20px;
}

.texts {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.383);
    width: 1200px;
    height: 850px;
    border-radius: 6px;
    position: relative;
    top: 40px;
}

.p2 {
    width: 900px;
    margin: auto;
}

.p3 {
    width: 900px;
    margin: auto;
    position: relative;
    bottom: 10px;
}

.paragraph1 {
    text-align: center;
    font-size: 30px;
    font-family: monospace;
    color: white;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    animation-name: p;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    border-radius: 10px;
}

@keyframes p {
    0% {background-color: rgba(195, 0, 255, 0.698);}
    5% {background-color: rgba(255, 0, 200, 0.698);}
    10% {background-color: rgba(255, 0, 119, 0.698);}
    15% {background-color: rgba(255, 0, 34, 0.698);}
    20% {background-color: rgba(255, 0, 0, 0.698);}
    25% {background-color: rgba(255, 51, 0, 0.698);}
    30% {background-color: rgba(255, 60, 0, 0.698);}
    35% {background-color: rgba(251, 255, 0, 0.671);}
    40% {background-color: rgba(229, 255, 0, 0.698);}
    45% {background-color: rgba(255, 251, 0, 0.698);}
    50% {background-color: rgba(43, 255, 0, 0.698);}
    55% {background-color: rgba(0, 255, 157, 0.698);}
    60% {background-color: rgba(0, 255, 213, 0.698);}
    65% {background-color: rgba(0, 255, 242, 0.698);}
    70% {background-color: rgba(0, 183, 255, 0.698);}
    75% {background-color: rgba(0, 132, 255, 0.698);}
    80% {background-color: rgba(17, 0, 255, 0.698);}
    85% {background-color: rgba(111, 0, 255, 0.698);}
    90% {background-color: rgba(140, 0, 255, 0.698);}
    95% {background-color: rgba(183, 0, 255, 0.698);}
    100% {background-color: rgba(195, 0, 255, 0.698);}
}

/**texts of images**/

.rocketleauge {
    text-align: left;
    font-family: monospace;
    color: rgba(255, 255, 255, 0.705);
    position: relative;
    left: 20px;
    top: 52px;
    font-size: 25px;
    font-weight: bold;
}

.rouge {
    text-align: left;
    font-family: monospace;
    color: rgba(255, 255, 255, 0.705);
    position: relative;
    left: 20px;
    top: 40px;
    font-size: 25px;
    font-weight: bold;
}

.unreal {
    text-align: left;
    font-family: monospace;
    color: rgba(255, 255, 255, 0.705);
    position: relative;
    left: 20px;
    top: -25px;
    font-size: 25px;
    font-weight: bold;
}

/**img itself**/

.contentimgru {
    height: 170px;
    width: 300px;
    border-radius: 10px;
    position: relative;
    left: 550px;
    bottom: 100px;
    transition: 0.4s ease-in-out;
}

.contentimgr {
    height: 170px;
    width: 300px;
    border-radius: 10px;
    position: relative;
    left: 550px;
    bottom: 25px;
    transition: 0.4s ease-in-out;
}

.contentimgur {
    width: 300px;
    height: 170px;
    position: relative;
    left: 550px;
    bottom: 200px;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
}

/**hr between the texts**/

.ff {
    width: 500px;
    margin: auto;
    bottom: -7px;
    position: relative;
}

.ff2 {
    width: 500px;
    margin: auto;
    bottom: 65px;
    position: relative;
}

/**hover animation**/

.contentimgr:hover {
    filter: brightness(60%);
}

.contentimgru:hover {
    filter: brightness(60%);
}

.contentimgur:hover {
    filter: brightness(60%);
}

/**vertical line on side**/

.verL {
    border-left: rgb(202, 202, 202) solid 2px;
    height: 710px;
    width: 3px;
    position: relative;
    left: 900px;
    bottom:900px;
}

.vltexts {
    position: relative;
    font-family: monospace;
    font-size: 15px;
    text-align: left;
    left: 20px;
    right: 20px;
    color: white;
    letter-spacing: 0px;
}

.endweb {
    width: 100%;
    height: 120px;
    background-image: url(img/abstract3.png);
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
    margin: auto;
    position: relative;
    top: 100px;
    opacity: 50%;
    transition: .2s ease-in-out;
}

.endweb:hover {
    opacity: 100%;
}

.logos {
    position: relative;
    left: 20px;
    padding-top: 10px;
    transition: 0.2s ease-in-out;
    top: 2px;
}

.logosyt {
    position: relative;
    left: 20px;
    top:15px;
    transition: 0.2s ease-in-out;
}

.logos:hover {
    filter: brightness(50%);
}

.logosyt:hover {
    filter: brightness(50%);
}

.endwebp {
    font-family: monospace;
    color: white;
    font-size: 15px;
    position: relative;
    text-align: center;
    top: 20px;
}

/**end of index.html**/

/**start of programming.html**/

.programmingtags {
    width: 1200px;
    height: 5000px;
    background-color: rgba(0, 0, 0, 0.644);
    margin: auto;
    position: relative;
    top: 30px;
    border-radius: 10px;
    color: white;
    font-family: monospace;
    text-align: left;
    padding-left: 20px;
}

.pt {
    font-family: monospace;
    color: white;
    position: relative;
    left: 20px;
    top: 20px;
    text-align: left;
    font-size: 15px;
}

.ptcss {
    font-family: monospace;
    color: white;
    position: relative;
    padding-top: 0px;
    font-size: 30px;
    top: 15px;
    left: 20px;
    bottom: 20px;
    text-align: left;
    padding-bottom: 10px;
    text-decoration: underline;
    
}

.alphabetical-orders {
    position: fixed;
    font-family: monospace;
    font-weight: bold;
    color: white;
}

.indicators {
    color: white;
    display: list-item;
    text-decoration: none;
    font-size: 15px;
    background-color: black;
    position: relative;
    top: 20px;
    left: 20px;
    padding: 5px 5px;
    border-radius: 5px;
    transition: .2s ease-in-out;
}

.indicators:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}